<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SkeletonApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label >Usuario: {{userName}}</ion-label>         
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-title class="ion-padding-top ion-text-center">Información Adicional</ion-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="full">
        <ion-label position="floating">Nombre</ion-label>        
        <ion-input type="text" id="name" [(ngModel)]="user.name"></ion-input>
      </ion-item>
      <ion-item lines="full">        
        <ion-label position="floating">Apellido</ion-label>
        <ion-input type="text" id="lastName" [(ngModel)]="user.lastName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nivel Educación </ion-label>
        <ion-select id="edLevel" [(ngModel)]="user.edLevel" value="brown" okText="Okay" cancelText="Dismiss">
          <ion-select-option value="primary">Básica</ion-select-option>
          <ion-select-option value="secondary">Media</ion-select-option>
          <ion-select-option value="bachelors">Universitaria</ion-select-option>
          <ion-select-option value="masters-doctor">Postgrado</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Fecha de Nacimiento</ion-label>
        <ion-datetime id="birthDate" [(ngModel)]="user.birthDate" displayFormat="D MMM YYYY" min="1920" max="2020"></ion-datetime>
      </ion-item>
      <ion-row>
        <ion-col>          
          <ion-button expand="full" (click)="clean()">Limpiar</ion-button>
          <ion-button expand="full" (click)="show()">Mostrar</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  
</ion-content> 
 
